.product{
    display: flex;
    border: 1px solid lightgrey;
    border-bottom: 5px;
    border-right: 5px;
    padding: 5px;
}

.product-name{
    color: blue;
    font-weight: 400;
}

.main-button{
    background: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}